.node-text-behaviour{white-space:pre-wrap;word-wrap:break-word;font-family:sans-serif}
.ui-effects-transfer{border:2px dashed #ddd}

/*#canvas-container .ui-widget{left:550px;}
*/

#container{position:relative;height:auto!important;min-height:100%;top:0;margin-top:0;width:1185px;left:0}
#topbar{border-bottom:1px solid #ddd;overflow:hidden;margin-left:}
.logo-bg{filter:progid : DXImageTransform.Microsoft.gradient (startColorstr='#31A1DF',endColorstr='#E5E5E5',GradientType=1);background:linear-gradient(left,#31A1DF7%,#e5e5e5100%)}
.rotate-180{-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;transition:all 1s ease-in-out}
.rotate-180:hover{-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;transition:all 1s ease-out;-moz-transform:scale(1) rotate(180deg) translate(0px,0px) skew(0deg,0deg);-webkit-transform:scale(1) rotate(180deg) translate(0px,0px) skew(0deg,0deg);-o-transform:scale(1) rotate(180deg) translate(0px,0px) skew(0deg,0deg);-ms-transform:scale(1) rotate(180deg) translate(0px,0px) skew(0deg,0deg);transform:scale(1) rotate(180deg) translate(0px,0px) skew(0deg,0deg)}
#toolbar{background-color:#eaeaea;overflow:hidden;width:100%}
#toolbar .buttons{margin:6px}
#toolbar .ui-buttonset{margin-right:14px}
.buttons-right{position:absolute;right:0;margin-right:8px}
#toolbar .menu-wrapper{position:relative;display:inline-block}
#toolbar .menu-wrapper .menu{position:absolute;right:0;z-index:5000;display:none;background:#eee}
#toolbar .menu-wrapper .menu-item{display:block;text-align:left;width:100%;border-radius:0;margin-top:-3px}
#toolbar .menu-wrapper .menu-item:hover{background-image:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#1C4257}
#statusbar{height:32px}
#statusbar .buttons{margin-top:1px}

#canvas-container{position:absolute;width:100%;overflow:hidden}
#drawing-area{position:absolute;background-color:#f8f8f8;background-image:url(../../../resource/bg/body-bg1.png);background-size:24px 24px;image-rendering:0;-ms-interpolation-mode:nearest-neighbor}
.mindmap .node-container{position:absolute;padding-bottom:2px;font-size:15px}
.mindmap .root.node-container{border-bottom:3px solid transparent;width:1px;height:20px;left:50%;top:50%}
.mindmap .node-caption{position:relative;cursor:move;z-index:100;text-align:center;border-radius:5px;padding:3px 4px;margin:-4px 0 4px;background:#fbfbfb}
.mindmap .node-caption:hover{border:2px dotted #ddd;padding:2px 2px 0}
.mindmap .node-caption.selected{border:1px solid #f3f3f3;background:#fff;z-index:1000;-webkit-box-shadow:3px 3px 7px #ddd;-moz-box-shadow:3px 3px 7px #ddd;box-shadow:3px 3px 7px #ddd;padding:2px}
.mindmap .node-caption.edit{background:transparent;border:0;padding:3px 4px;box-shadow:inset 0 15px -5px 15px #666;margin:-7px 0 7px}
.mindmap .node-caption.root{cursor:default;background:linear-gradient(#f5f5f5, #fbfbfb);border:1px solid #eaeaea;border-radius:10px 10px 10px 10px;left:-50px;position:absolute;padding:10px}
.mindmap .node-caption.root.selected{background:linear-gradient(#fff, #f6f6f6);border-color:#ddd}
.mindmap .node-caption.root.edit{border-color:blue}
.mindmap .button-fold{width:16px;height:16px;bottom:-12px;background-image:url(../img/plus-minus.png);background-repeat:no-repeat;position:absolute;z-index:1000;cursor:pointer}
.mindmap .button-fold.left{left:4px}
.mindmap .button-fold.right{right:4px}
.mindmap .button-fold.closed{background-position:0 0}
.mindmap .button-fold.open{background-position:0 -16px}
.line-canvas{}
#creator-wrapper{position:absolute!important;bottom:-16px;cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGxJREFUeNqskgsOwCAIQ+n9D80+bkmDVJmTxIRq+giI2Tj8OTKQGN57P6MJQHpYdAbW4Q07AH7L2IIyZfArXwJwjtHw0qknANn7LDpArDAz8xC9WlUBPkN+AXiZ5DeuAqzyjWqVS5DtgEOAAQCmx2gKY+jFZgAAAABJRU5ErkJggg==), default!important}
#creator-wrapper.ui-draggable-dragging{cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFhJREFUeNqUkAEKgDAMA5Pi/79cdS5YC2p2MMi6lnQBbnKeLz2gHg6uAok3rZlAQ01dl3vyWUv8cTpG2dtmcx0qsdI8wxhBsCTjDbtByKWvZzsu/UnsAgwAQG4nCi//474AAAAASUVORK5CYII=), default!important}
#creator-wrapper.left{left:-18px}
#creator-wrapper.right{right:-18px}
#creator-nub{width:24px;height:24px;background-image:url(../img/creator-nub-sprite.png);background-repeat:no-repeat;position:relative;z-index:1000}
#creator-fakenode{height:12px;border-bottom-color:transparent;border-bottom-style:none}
#creator-wrapper.ui-draggable-dragging #creator-fakenode{border-bottom-style:solid}
#creator-nub:hover{background-position:-24px 0}
#caption-editor{display:block;resize:none;background:none;border:none;font:inherit;outline:none;text-align:center;overflow:hidden;vertical-align:baseline;-moz-border-radius:none;border-radius:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition:none;-moz-transition:none;-o-transition:none;-webkit-border-radius:none;margin:0;padding:0}
.float-panel.ui-dialog{min-width:200px;min-height:150px;position:fixed!important;box-shadow:none;z-index:1000;width:auto!important}
.float-panel div.ui-dialog-titlebar{padding:.4em .5em .3em}
.float-panel span.ui-dialog-title{margin:0}
.float-panel a.ui-dialog.titlebar-close{right:.5em;margin-top:-9px}
.float-panel.ui-dialog .ui-dialog-titlebar-close span.ui-icon{background:url(Aristo/images/ui-icons_222222_256x240.png) -48px -128px}
#navigator .inactive{width:256px}
#navi-canvas-wrapper{position:relative;margin:5px 0}
#navi-canvas{width:250px;display:block;border:1px solid #cdcdcd;padding:2px}
#navi-canvas-overlay{border:2px solid red;width:50px;height:25px;position:absolute!important;top:0;left:0;cursor:move}
#navi-zoom-level{float:left;font-size:14px;margin-right:10px;margin-top:3px;width:50px}
#navi-slider{float:left;width:140px;margin:7px 6px}
#navi-controls .button-zoom{width:18px;height:18px;float:left;border-radius:12px}
#inspector-table{width:100%;font-size:12px}
#inspector-table tr{height:28px}
#inspector-table td{border-bottom:1px solid #eaeaea;padding:4px 0}
#inspector-table .font-styles .ui-button-text{font-size:11px;font-weight:400}
#inspector-label-font-bold .ui-button-text{font-weight:700!important}
#inspector-label-font-italic .ui-button-text{font-style:italic}
#inspector-label-font-linethrough .ui-button-text{text-decoration:line-through}
.file-dialog{padding:10px!important}
.file-dialog h1{font-size:18px;font-weight:700;margin-bottom:8px}
.file-dialog .highlight{color:#14BB14;margin-right:4px}
.file-dialog p{font-size:13px;line-height:15px;margin:8px 0 15px}
.file-dialog .error{font-size:13px;color:#F70000;margin-left:10px}
.file-dialog .cloud-loading{margin-left:10px;font-size:13px;display:none;padding-left:22px;padding-top:2px}
.file-dialog .cloud-loading.loading{display:inline-block}
.file-dialog .localstorage-filelist{width:100%;font-size:14px;margin:12px 0}
.file-dialog .localstorage-filelist thead{font-weight:700;text-align:left}
.file-dialog .localstorage-filelist th{padding-bottom:4px}
.file-dialog .localstorage-filelist th.title{width:50%}
.file-dialog .localstorage-filelist th.modified{width:40%}
.file-dialog .localstorage-filelist tbody td{padding:4px}
.file-dialog .localstorage-filelist tbody tr:nth-child(odd){background-color:#eaeaea}
.file-dialog .localstorage-filelist tbody tr:hover,.file-dialog .localstorage-filelist tbody tr:nth-child(odd):hover{background-color:#e8e8e8}
.file-dialog .localstorage-filelist a.delete{display:none}
.file-dialog .localstorage-filelist tr:hover a.delete{display:inline}
.file-dialog .autosave{margin-left:20px}
.file-dialog .autosave + label{font-size:13px}
.file-dialog .seperator{display:block;clear:both;border-top:1px dashed #ddd;width:100%;margin:15px 0}
.file-dialog .file-chooser{margin:10px 0}
#button-save-hdd object{position:relative}
.notification{border:7px solid;border-radius:7px;position:absolute;z-index:10000;background-color:#FFF;display:none;padding:7px}
.notification.info{box-shadow:1px 1px 7px 1px #B2B2B2;border-color:#E2E2E2}
.notification.warn{box-shadow:1px 1px 7px 1px #FF943D;border-color:#FFC53D}
.notification.error{box-shadow:1px 1px 7px 1px #F70000;border-color:#F75F00}
.notification .title{font-weight:700;font-size:18px;color:#4F4F4F;padding-bottom:6px;margin-top:-3px;padding-right:10px}
.notification .content{font-size:13px;color:#454545;line-height:16px}
.notification .close-button{color:#4F4F4F;margin-top:-6px;margin-right:-2px;float:right;cursor:pointer;text-decoration:none;font-size:14px;font-weight:700;padding:4px}
#print-area{visibility:hidden;position:absolute;overflow:hidden;height:0}
#print-area .map{max-width:100%;max-height:100%}
#export-map-dialog{font-size:12px;background-color:#f7f7f7;padding:10px}
#export-map-dialog .image-description{font-style:italic;padding-bottom:10px;font-size:13px}
#export-preview{text-align:center}
#export-preview .map{border:2px dashed #ddd;border-radius:5px;max-width:100%}
#debug-warning{position:fixed;top:50px;left:10px;z-index:10000;font-size:15px;font-weight:700;color:gray}
.mindmap .line-canvas,#button-save-hdd .ui-button-text{position:absolute}
#inspector-label-font-underline .ui-button-text,.notification .close-button:hover{text-decoration:underline}
